# PostgreSQL
DB_HOST=cqrs_db
DB_PORT=5432
POSTGRES_DB=analytics_db
POSTGRES_USER=user
POSTGRES_PASSWORD=yourpassword

# Kafka
KAFKA_BROKER=kafka:9092

# Topics
PRODUCT_TOPIC=product-events
ORDER_TOPIC=order-events

# App Ports
COMMAND_SERVICE_PORT=8080
QUERY_SERVICE_PORT=8081

# Consumer Group
KAFKA_GROUP_ID=query-service-group